<h1>Goku</h1>
<dl>
  <td>Nombre:</td>
  <dd> {{nombre}} </dd>

  <td>Edad:</td>
  <dd> {{edad}} </dd>

  <td>Método:</td>
  <dd> {{descripcionHeroe}} </dd>

  <td>Capitalizado:</td>
  <dd> {{nombreCapitalizado}} </dd>
</dl>

<button *ngIf="nombre === 'Gokuu'" class="btn btn-primary mx-2" (click)="cambiarNombre('nuevo')">
  Cambiar nombre
</button>

<button *ngIf="edad === 34" class="btn btn-primary mx-2" (click)="cambiarEdad(85)">
  Cambiar edad
</button>

<button *ngIf="edad !== 34 || nombre !== 'Gokuu'" class="btn btn-primary" (click)="restablecerValores()">
  Restablecer valores
</button>
